{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="box loginBox">
    <form method="POST" action="/login">
      <h2 class="form-signin-heading">Login to secure-castle <i class="fa fa-fort-awesome" aria-hidden="true"></i></h2>
      <div>{{ form.username.label }}: {{ form.username(class="css_class") }}</div>
      <div>{{ form.password.label }}: {{ form.password() }}</div>

      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>


{% endblock %}
